.mainContainerB{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.innerBoxB{
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(200, 200, 200);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.inputInfoB{
    width: 480px;
    height: 30px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 12px;
    border: 2px solid rgb(109, 107, 107);
    display: flex;
    text-align: center;
}

.addButtonB{
    margin-left: 200px;
    margin-top: 20px;
    border: 3px solid Red;
    background-color: black;
    color: white;
    width: 100px;
    height: 32px;
    font-size: 17px;
    border-radius: 16px;
    font-family: 'Times New Roman', Times, serif;
    transition: 200ms;
}

.addButtonB:hover{
    border: 3px solid black;
    background-color: white;
    color: red;
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 15px;
}

.backB{
    width: 97%;
    height: 60px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.backHomeB{
    width: 90px;
    height: 40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: 4px solid red;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 200ms;
}

.backHomeB:hover{
    border: 4px solid white;
    color: red;
    transform: scale(0.95);

}
